<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/xogame.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <div class="jumbotron" >
    <h1>Tic-Tac-Toe</h1>
    <h3>Will beat the shit out of you !!</h3>
    <div class="initial_warn">
        <p>
            *** choose player for the first move ***
        </p>
    </div>
    </div>
    <div class="row" >
        <div class="col-sm-4" >
            <div class="shift">
                <i class="fa fa-laptop computer">
                </i>
            </div>    
        </div>
        <div class="col-sm-4" >
        	<table  >
        		<tbody>
        			<tr>
        				<td >
        				    <i id="cell_1"></i>
        				</td>
        				<td >
        	     			<i id="cell_2"></i>
        				</td>
        				<td >
                            <i id="cell_3"></i>
        				</td>
        			</tr>
        			<tr>
        				<td >
                            <i id="cell_4"></i>
        				</td>
        				<td >
                            <i id="cell_5"></i>
        				</td>
        				<td >
                            <i id="cell_6"></i>
        				</td>
        			</tr>
        			<tr>
        				<td >
                            <i id="cell_7"></i>
        				</td>
        				<td >
                            <i id="cell_8"></i>
        				</td>
        				<td >
                            <i id="cell_9"></i>
        				</td>
        			</tr>
        			
        		</tbody>
        	</table>
            <div>
                <h3 class="result"></h3>
            </div>
        </div>
        <div class="col-sm-4" >
            <i class="fa fa-user user"></i>
            <p style="vertical-align:bottom;margin-top:450px;font-size:20px;">developed by <a href="https://www.codechef.com/users/arunnsit" style="color:#ffc966;">Alphacoder</a></p>
        </div>
    </div>

<script  src='/js/xogame.js'></script>
<script  src='/js/xogame2.js'></script>

</body>
</html>